/* Resetowanie domyślnych stylów dla przeglądarek */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl strony głównej */
body {
    background-color: #333; /* Ciemne tło */
    color: #fff; /* Jasna czcionka */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Nagłówek */
h3 {
    font-size: 24px;
    margin: 20px 0;
}

/* Formularz */
form {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    text-align: left;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Wyświetlanie posta */
div {
    background-color: #fff; /* Białe tło ramki */
    color: #333; /* Ciemny tekst */
    padding: 20px;
    border: 1px solid #333; /* Ciemny obramowanie */
    border-radius: 5px;
    margin: 20px 0;
    text-align: left;
}

/* Data posta */
div p:first-child {
    font-size: 14px;
}

/* Nick i treść posta */
div p:nth-child(2),
div p:nth-child(3) {
    font-size: 18px;
}
